{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'rikishi/style.css' %}">

<h1>{{ rikishi.shikona }}</h1>

<h2>{{ rank }}</h2>

<p><b>Career Record:</b> {{ rikishi.total_wins }}/{{ rikishi.total_losses }}/{{ rikishi.total_absent }}
<p><b>Real Name:</b> {{ rikishi.real_name }}
<p><b>Date of Birth:</b> {{ rikishi.date_of_birth }}
<p><b>Height:</b> {{ rikishi.height }}
<p><b>Weight:</b> {{ rikishi.weight }}
<p><b>Origin:</b> {{ rikishi.origin }}

<p><a href="{% url 'rikishi:index' %}">Home</a></p>
